{% extends 'base.html.twig' %}

{% block body %}
	<section class="container">
        <div class="row mt-5">
            <div class="col-12" style="border-bottom: 1px solid #17a2b8;">
                <h3>Listado General de Usuarios</h3>                
            </div>
        </div>
        <div class="row mt-3">
            <div class="sm-12">
                {% embed "@AppBundle/Resources/views/table_user/table_user_table.html.twig"
                    with {"table": table}
                %}
                    {% block tableTitle %}
                        <b>Usuarios</b>                        
                    {% endblock tableTitle %}                   
                {% endembed %}
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
          crossorigin="anonymous"
    >
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.2.0.min.js"
    >
    </script>
    <script type="text/javascript"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    >
    </script>
    <script type="text/javascript"
            src="{{ asset('/bundles/kiliktable/js/KilikTable.js') }}">
    </script>
    <script>
        $(document).ready(function () {
            
            $(".navbar-nav").find(".active").removeClass("active");
            $(".lista").addClass("active");

            var table = new KilikTable("{{ table.id }}", "{{ table.path }}",
                JSON.parse('{{ table.options | json_encode | raw }}'));

            table.init();
        });
    </script>
{% endblock %}
