{% extends 'base.html.twig' %}
{% block body %}

	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="user col-9">
				<h4 class="fullname">{{ user.surname|upper }} , {{ user.name|upper }}</h4>
				<hr class="bg-info">
				<p class="email"><b>e-mail :</b> {{ user.email }}</p>
				{% if user.is_active %}
					<p class="active"><b>Activo :</b>SI</p>					
				{% else %}
					<p class="active"><b>Activo :</b>NO</p>										
				{% endif %}
				<p class="Administrador"><b>Administrador :</b>{{ user.administrator }}</p>
				<p class="date_post"><b>Solicitud de alta :</b>{{ user.create_at|date('F j, Y, g:i a') }}</p>
			</div>
		</div>
	</div>
	
{% endblock %}