<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Blog!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a href="{{path('homepage')}}" class="navbar-brand">MI BLOG</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuNavegacion" aria-controls="menuNavegacion" aria-expanded="false" aria-label="Alternar Menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="row">
                        <div class="collapse navbar-collapse d-flex justify-content-end" id="menuNavegacion">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a href="{{path('homepage')}}" class="nav-link">Inicio</a>
                                </li>

                                {% if app.user%}
                                    <!--Usuario Logueado-->
                                    <li class="nav-item">
                                        <a href="{{path('post')}}" class="nav-link">Blog</a>
                                    </li>
                                    
                                    {% if app.user.administrator == 'SI' %}
                                        <!--Usuario Administrador-->
                                        <li class="nav-item">
                                            <a href="{{path('profile')}}" class="nav-link">List User</a>
                                        </li>
                                    {% endif %}
                                    <li class="nav-item">
                                        <a href="{{path('logout')}}" class="nav-link">Cerrar Session</a>
                                    </li>
                                {% else %}
                                    <!--Usuario no Logueado-->
                                    <li class="nav-item">
                                        <a href="{{path('login')}}" class="nav-link">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{path('register')}}" class="nav-link">register</a>
                                    </li>

                                {% endif %}
                                {#% if session->get('user',loginUser) %}

                                {% endif  %#}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
            <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>            
        {% block javascripts %}{% endblock %}
    </body>
</html>
