<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Blog!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}">
        {% block stylesheets %}
            <style>
            .menu {
                background: #343a40;
                list-style: none;
                padding: 0;
                width: 100%;
                max-width: 200%;
                margin:20px auto;
            }
            .menu li {
                display: inline-block;
                text-align: center;
            }
            .menu li a {
                color: #fff;
                text-decoration: none;
                display: inline-block;
                padding: 20px;
            }
            .menu li a:hover {
                background: #384552;
            }
            .izquierda{float: left;}
            .derecha{float: right;}


             </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="row">
                <div class="col-12 mt-0">                                        
                    <ul class="menu">
                        <div class="container">
                            <li>
                                <a href="{{path('homepage')}}">Mi Blog</a>
                            </li>
                            {% if app.user%}
                                <!--Usuario Logueado-->
                                <li class="derecha">
                                    <a href="{{path('logout')}}">Cerrar Session</a>
                                </li>
                                <li class="derecha">
                                    <a href="{{path('post')}}">Publicaciones {{app.user.nick|upper}}</a>
                                </li>
                                
                                {% if app.user.administrator == 'SI' %}
                                    <!--Usuario Administrador-->
                                    <li class="derecha">
                                        <a href="{{path('profile')}}">Listado Usuarios</a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <!--Usuario no Logueado-->
                                <li class="derecha">
                                    <a href="{{path('register')}}">Registro</a>
                                </li>
                                <li class="derecha">
                                    <a href="{{path('login')}}">Login</a>
                                </li>

                            {% endif %}
                            <li class="derecha">
                                <a href="{{path('homepage')}}">Inicio</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div> 

        </header>
        {% block body %}{% endblock %}
            <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>            
        {% block javascripts %}{% endblock %}
    </body>
</html>
