<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Blog!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}">
            <style>
            .menu {
                background: #343a40;
                list-style: none;
                padding: 0;
                width: 100%;
                max-width: 200%;
                margin:20px auto;
            }
            .menu li {
                display: inline-block;
                text-align: center;
            }
            .menu li a {
                color: #fff;
                text-decoration: none;
                display: inline-block;
                padding: 20px;
            }
            .menu li a:hover {
                background: #384552;
            }
            .izquierda{float: left;}
            .derecha{float: right;}


             </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="row">
                <div class="col-12 mt-0">                                        
                    <ul class="menu">
                        <div class="container">
                            <li>
                                <a href="{{path('homepage')}}">Mi Blog</a>
                            </li>
                            {% if app.user%}
                                <!--Usuario Logueado-->
                                <li class="derecha nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" id="menu-categorias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{app.user.nick|upper}}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="menu-categorias" style="background: #343a40;">
                                        <a href="{{path('logout')}}" class="dropdown-item">Cerrar Session</a>

                                    </div>
                                </li>
                                <li class="derecha nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" id="menu-categorias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        TaskBoard   
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="menu-categorias" style="background: #343a40;">
                                        <a href="{{path('post')}}" class="dropdown-item">Post</a>
                                        
                                        {% if app.user.administrator == 'SI' %}
                                            <!--Usuario Administrador-->                                            
                                            <a href="{{path('profile')}}" class="dropdown-item">Listado Usuarios</a>
                                        {% endif %}                                                                                
                                    </div>
                                </li>
                                
                            {% else %}
                                <!--Usuario no Logueado-->
                                <li class="derecha">
                                    <a href="{{path('register')}}">Registro</a>
                                </li>
                                <li class="derecha">
                                    <a href="{{path('login')}}">Login</a>
                                </li>

                            {% endif %}
                            <li class="derecha">
                                <a href="{{path('homepage')}}">Inicio</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div> 

        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
                <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
                <link rel="stylesheet" type="text/css"
                      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
                />
                <link rel="stylesheet"
                      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
                      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
                      crossorigin="anonymous"
                >
                <script type="text/javascript"
                        src="https://code.jquery.com/jquery-2.2.0.min.js"
                >
                </script>
                <script type="text/javascript"
                        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                >
                </script>
                <!-- <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>-->            

        {% endblock %}
    </body>
</html>
