{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
   
    <div class="container">
        {% if error %}
            <div class="row alert alert-danger mt-0">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
            {{ dump(app.user) }}
        {% endif %}
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <h4>Inicar Sessión</h4>
                <hr class="bg-info">
            </div>
            <div class="col-12">
                <p class=" pb-0 mb-0">Te invitamos a iniciar sessión</p>
                <p class="text-danger small pt-0 mt-0">*Todos los campos son obligatorios</p>
            </div>                  
        </div>
        <div class="row mt-3">
            <div class="col-lg-6 col-md-12">
                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <label for="username">email</label>
                        <input type="email" class="form-control" placeholder="email" name="_username" id="username" value="{{ last_username }}">
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" placeholder="password" name="_password" id="password">
                    </div>

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}
                    <button class="btn btn-info" type="submit">Aceptar</button>

                </form>
            </div>
        
            <div class="col-lg-6 mt-3" style="background:#d5f5d6;">
                <div class="p-2">
                    <h6>Crear cuenta</h6>
                        <a href="{{ path('register') }}" class="btn btn-info">Crear Solicitud</a>               
                </div>
            </div>
        </div>
    </div>
{% endblock %}